body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    align-content: center;
    text-align: center;
    display: block;
}

.page-title {
    font-weight: normal;
    font-size: 50px;
    color: white;
    align-content: center;
}

body a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.subheading {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

body h3 {
    font-size: 21px;
    color: gray; 
}

.icon {
    padding-top: 20px;
}

body img {
    display: block;
    margin: 10px auto;
}

footer p {
    font-size: 21px;
    color: gray;
}